/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
  font-family: GillSans;
}

.main-container {
  .navbar {
    height: 87px;
    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    box-shadow: 5px 2px 82px 0 #DFE9F3;
    background-color: white;

    .email-address {
      font-size: 16px;
      line-height: 19px;
      margin-left:auto;
      margin-right: 10px; 
    }

    .logout {
      margin-right: 8px;
    }

    .btn-logout {
      background-color: #FFFFFF;
      color: #000000;
      border-color: #000000;
      border-radius: 4px;
      width: 100px;
      height: 40px;
    }

    form {
      margin-bottom: 0;
    }
  }

  .content {
    margin-top: 87px;
  }

  .sidebar {
    height: 100%;
    width: 158px;
    position: fixed;
    top: 87px;
    left: 0;
    overflow-x: hidden;

    a {
      padding: 20px 8px 20px 8px;
      text-decoration: none;
      display: block;

      color: #ADADAD;
      font-family: GillSans;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
    }
  }

  .main-content {
    margin-left: 158px;
    background-color: #F0F0F0;
    min-height: calc(100% - 87px);

    h1 {
      color: #000000;
      font-size: 35px;
      font-weight: bold;
      line-height: 42px;
      text-align: left;
    }

    .btn {
      font-size: 14px;
      line-height: 26px;
      border-radius: 4px;
      height: 40px;
      width: 250px;
    }

    .btn-primary {
      background-color: #000000;
      border: none;
      color: #FFFFFF;
    }

    .btn-secondary {
      background-color: #FFFFFF;
      color: #000000;
      border: 1px solid #F0F0F0;
    }

    .form-container {
      width: 524px;
      margin: 0 auto;
      background-color: #ffffff;
      border-radius: 14px;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
      padding: 14px 24px 0px 24px;

      h1 {
        font-size: 25px;
        line-height: 30px;
      }

      label {
        color: #393939;
        font-size: 14px;
      }

      input[type=text] {
        background-color: #FFFFFF;
        border: 1px solid #F0F0F0;
        border-radius: 14px;
        height: 40px;
      }

      .btn {
        width: 216px;
      }

      input[type="file"] {
        display: none;
      }
    }

    .error {
      margin-bottom: 4px;
      font-size: 14px;
      color: red;

      &:empty {
        display: none;
      }
    }

    .table {
      background-color: #FFFFFF;
      border-radius: 14px;
      box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.02);
      width: 100%;
      font-size: 14px;
      padding: 40px;

      th:first-child, td:first-child {
        padding-left: 40px;
      }

      th:last-child, td:last-child {
        padding-right: 40px;
      }

      th {
        border-top: none;
        border-bottom: 1px;

        padding: 20px;
      }

      td a {
        color: #000000;
      }

      td.warning a {
        color: #E62828;
      }

      td {
        padding: 15px 20px;

        &.action {
          width: 80px;
        }
      }
    }

    .correct-answer {
      color: green;
    }

    .wrong-answer {
      color: #E62828;
    }
  }
}

.devise {
  background-color: #EABD2C;

  .container {
    background-color: #FFFFFF;
    border-radius: 14px;
    box-shadow: 0 11px 13px 0 rgba(0, 0, 0, 0.05);
    width: 422px;
    padding: 30px 71px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h2 {
      color: #333333;
      font-size: 24px;
      font-weight: bold;
    }

    label {
      margin-top: 20px;
      color: #393939;
      font-size: 14px;
    }

    input[type=email], input[type=password] {
      background-color: #FFFFFF;
      border: 1px solid #D3E0F3;
      border-radius: 14px;
      width: 100%;
      height: 40px;
    }

    input[type=submit] {
      color: white;
      background-color: #000000;
      border: none;
      border-radius: 4px;
      width: calc(100% - 20px);
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
    }

    .actions {
      margin-top: 16px;
    }

    a {
      color: #8A8DA3;
      font-size: 14px;
      text-decoration: underline;
      line-height: 25px;
    }

    .error {
      margin-bottom: 0px;
      font-size: 14px;
      color: red;

      &:empty {
        display: none;
      }
    }

    #error_explanation {
      h2 {
        font-size: 14px;
      }
    }
  }
}
